<h1>Projects</h1>
<table>
<thead>
  <tr>
    <th>id</th>
    <th>Title</th>
    <th>description</th>
  </tr>
</thead>
<% @projects.each do |project| %>
  <tr>
    <td><%= project.id %></td>
    <td><%= project.title %></td>
    <td><%= project.description %></td>
    <td><%= link_to 'Show', project_path(project) %></td>
    <td><%= link_to 'Edit', edit_project_path(project) %></td>
    <td><%= link_to 'Fork', new_project_solution_path(project.id) %></td>
  </tr>
<% end %>
</table>
<hr>

<%= link_to 'New Project', new_project_path %>
